@model ToyStory_CRUD.Models.Personagem

@{
    ViewData["Title"] = "Edit";
    var imagem = Model.Foto;
    var imagePath = "/img/" + imagem + ".jpg";
}

<h1>Edit</h1>

<h4>Personagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />


            <div class="form-group">
                <label class="visually-hidden control-label" for="tipo" asp-for="Tipo">Tipo</label>
                <select class="form-control form-select tipo" id="tipo" asp-for="Tipo">
                    <option value="Humano">Humano</option>
                    <option value="Brinquedo">Brinquedo</option>
                    <option value="Animal">Animal</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="visually-hidden control-label" for="nome" asp-for="Nome">Nome</label>

                <select class="form-control form-select nome" id="nome" asp-for="Nome">
                    <option selected>@Model.Nome</option>
                    <option value="">Nomes</option>
                </select>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="visually-hidden control-label" for="fala" asp-for="Fala">Fala</label>
                <select class="form-control form-select fala" id="fala" asp-for="Fala">
                    <option selected>@Model.Fala</option>
                    <option value="">Falas</option>
                </select>
                <span asp-validation-for="Fala" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="visually-hidden control-label" for="foto" asp-for="Foto">Foto</label>
                <select class="form-control form-select foto" id="foto" asp-for="Foto">
                    <option selected>Escolha...</option>
                    <option value="">Foto 1</option>
                    <option value="">Foto 2</option>
                    <option value="">Foto 3</option>
                </select>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
       <div class="col-md-4 card">
           <div class="imagemDinamica">
               <img class="card-img-top imagem-card" src="@imagePath" alt="Imagem do Personagem escolhido">
           </div>
            <div class="card-body">
                <h4 class="card-title tipoSelecionado text-center">@Model.Tipo</h4>
                <h5 class="card-title nomeSelecionado text-center">@Model.Nome</h5>
                <p class="card-text falaSelecionada text-center">@Model.Fala</p>
            </div>
        </div>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
